/.idea/
/bert/cased/
/bert/uncased/
/emovox/teacher_model_analysis/data/
/emovox/teacher_model_analysis/emovox_logits.npy
/emovox/teacher_model_analysis/emovox_logits_utterance_major.npy
/emovox/teacher_model_analysis/formatter.obj
/emovox/teacher_model_analysis/voxceleb.obj
/iemocap/data/
/meld/data/
/jessica_meld/
*.pkl
/backup_dataset/
/results/xvectors/
/dailydialog/test.csv
/dailydialog/test.json
/dailydialog/test_dataset.pt
/dailydialog/train.csv
/dailydialog/train.json
/dailydialog/train_dataset.pt
/dailydialog/val.csv
/dailydialog/val_dataset.pt
/dailydialog/valid.json
/dailydialog/.ipynb_checkpoints/
/dailydialog/checkpoint/
/Embeddings/Embeddings-20200728T030811Z-001.zip
/Embeddings/Embeddings-20200728T030811Z-002.zip
/Embeddings/Embeddings-20200728T030811Z-003.zip
/Embeddings/embeddings_restructured.zip
/Embeddings/Embeddings/
/iemocap/test_dataset_0.pt
/iemocap/test_dataset_1.pt
/iemocap/test_dataset_2.pt
/iemocap/test_dataset_3.pt
/iemocap/test_dataset_4.pt
/iemocap/train_dataset_0.pt
/iemocap/train_dataset_1.pt
/iemocap/train_dataset_2.pt
/iemocap/train_dataset_3.pt
/iemocap/train_dataset_4.pt
/iemocap/val_dataset_0.pt
/iemocap/val_dataset_1.pt
/iemocap/val_dataset_2.pt
/iemocap/val_dataset_3.pt
/iemocap/val_dataset_4.pt
/iemocap/.ipynb_checkpoints/IEMOCAP BERT Data Preparation-checkpoint.ipynb
/meld/test_dataset.pt
/meld/train_dataset.pt
/meld/val_dataset.pt
/meld/.ipynb_checkpoints/
/results/feature_vectors/
/results/feature_vectors.zip
/results/xvectors.zip
